* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #ef3751;
	text-align: center;
}

header img {
	margin: 0.5% 0.4% 0.1% 0.4%;
}

.content {
	display: flex;
	height: 630px;
	justify-content: space-evenly;
	width: 90%;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}

table {
	display: inline-block;
	margin: 10px auto;
}

.head {
	padding: 3px;
}

input {
	width: 2.5em;
	border: none;
	outline: none;
	border-bottom: 2px solid #ef3751;
}

span {
	width: 100%;
	border-bottom: 2px solid #ef3751;
}

#proses {
	/*border: none;*/
	background-color: #ef3751;
	padding: 4px;
	margin: auto;
	color: white;
}




		/*footer*/

footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 1px 1px 3px 1px;
}

@media screen and (max-width: 513px) {

	.content {
		flex-direction: column;
	}

}
